[submodule "Foundry/lib/forge-std"]
	path = Foundry/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "Foundry/lib/chainlink-brownie-contracts"]
	path = Foundry/lib/chainlink-brownie-contracts
	url = https://github.com/smartcontractkit/chainlink-brownie-contracts
[submodule "lib/chainlink-brownie-contracts"]
	path = lib/chainlink-brownie-contracts
	url = https://github.com/smartcontractkit/chainlink-brownie-contracts
[submodule "Foundry/lib/foundry-devops"]
	path = Foundry/lib/foundry-devops
	url = https://github.com/ChainAccelOrg/foundry-devops
[submodule "lib/foundry-devops"]
	path = lib/foundry-devops
	url = https://github.com/ChainAccelOrg/foundry-devops
